@model Minesweeper2.Models.GameModel

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Play", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (Session["user"] == null)
    {
        <h2>Please Register and Log in to play the game</h2>
    }

    if (Session["user"] != null && Session["difficulty"] == null)
    {

        <h2>Please select a difficulty and press continue</h2>

        <div class="form-horizontal">
            @Html.Label("Easy")
            @Html.RadioButtonFor(GameModel => GameModel.Difficulty, "Easy", new { Checked = "checked" })
            <br />
            @Html.Label("Medium")
            @Html.RadioButtonFor(GameModel => GameModel.Difficulty, "Medium", new { Checked = "checked" })
            <br />
            @Html.Label("Hard")
            @Html.RadioButtonFor(GameModel => GameModel.Difficulty, "Hard", new { Checked = "checked" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Continue" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    if (Session["difficulty"] != null)
    {
        using (Html.BeginForm("HandleButtonClick", "Button"))
        {
            for (int i = 0; i < 50; i++)
            {
                if (i % 5 == 0)
                {
                    <br />
                }
                <button type="submit" name="cell" value="@i">
                    @if (i % 2 == 0)
                    {
                        <img src="~/Images/mine.jpg" width="50" height="50" />
                    }
                    else
                    {
                        <img src="~/Images/flag.jpg" width="50" height="50" />
                    }
                </button>
            }
        }
    }
}

