@model Minesweeper2.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm("Register", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Fill out the form to continue</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-10">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(UserModel => UserModel.FirstName, new { htmlAttributes = new { @class = "form-control" } }) <p></p>
        </div>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(UserModel => UserModel.LastName, new { htmlAttributes = new { @class = "form-control" } }) <p></p>
        </div>
    </div>
    <div class="form-group">
        Male: @Html.RadioButtonFor(UserModel => UserModel.Sex, "Male", new { Checked = "checked" })
        </div>
    <div class="form-group">
        Female: @Html.RadioButtonFor(UserModel => UserModel.Sex, "Female", new { Checked = "checked" })<p></p>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <p>  @Html.EditorFor(UserModel => UserModel.Age, new { htmlAttributes = new { @class = "form-control" } })</p> <p></p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <p> @Html.EditorFor(UserModel => UserModel.State, new { htmlAttributes = new { @class = "form-control" } })</p> <p></p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(UserModel => UserModel.Email, new { htmlAttributes = new { @class = "form-control" } }) <p></p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(UserModel => UserModel.Username, new { htmlAttributes = new { @class = "form-control" } }) <p></p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(UserModel => UserModel.Password, new { htmlAttributes = new { @class = "form-control", @type="password" } }) <p></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
