@model Minesweeper2.Models.BoardModel

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "boardinfo"
    };
}
@if (Session["user"] == null)
{
    <h2>Please Register and Log in to play the game</h2>
}


@if (Session["user"] != null && Session["difficulty"] == null)
{
    /*
    <h2>Please select a difficulty and press continue</h2>
    <h3>The timer begins when you press continue</h3>
    using (Html.BeginForm("Play", "Game", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.Label("Easy")
            @Html.RadioButtonFor(BoardModel => BoardModel.Difficulty, "Easy", new { Checked = "checked" })
            <br />
            @Html.Label("Medium")
            @Html.RadioButtonFor(BoardModel => BoardModel.Difficulty, "Medium", new { Checked = "checked" })
            <br />
            @Html.Label("Hard")
            @Html.RadioButtonFor(BoardModel => BoardModel.Difficulty, "Hard", new { Checked = "checked" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Continue" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }
    */
    
}

<div class="boardinfo">
    @if (Session["difficulty"] != null)
    {
        using (Ajax.BeginForm("OnButtonClick", "Game", ajaxOptions, new { id = "index" }))
        {
            <p>Mines Reamaining: </p>@Html.Label(Model.Mines)
            <br />
            <p>Time: </p>@Html.Label(Model.timer.Elapsed.Seconds.ToString())
            <br />
            <p>Pause/Resume: </p>
            <input type="submit" value="Pause/Resume" class="btn btn-primary" />
            <br />
            int cntr = 0;
            foreach (var index in Model.theGrid)
            {
                if (cntr % Model.Size == 0)
                {
                    <br />
                }

                <button onselect="$('#index').trigger('submit')" name="cell" value="@index.ID">
                    @if (index.IsVisible)
                    {
                        if (index.IsLive)
                        {
                            <img src="~/Images/mine.jpg" width="50" height="50" />
                        }
                        else
                        {
                            switch (index.liveNeighbors)
                            {
                                case 0:
                                    <img src="~/Images/blank.jpg" />
                                    break;
                                case 1:
                                    <img src="~/Images/MS1.jpg" width="50" height="50" />
                                    break;

                                case 2:
                                    <img src="~/Images/MS2.jpg" width="50" height="50" />
                                    break;

                                case 3:
                                    <img src="~/Images/MS3.jpg" width="50" height="50" />
                                    break;

                                case 4:
                                    <img src="~/Images/MS4.jpg" width="50" height="50" />
                                    break;

                                case 5:
                                    <img src="~/Images/MS5.jpg" width="50" height="50" />
                                    break;

                                case 6:
                                    <img src="~/Images/MS6.jpg" width="50" height="50" />
                                    break;

                                case 7:
                                    <img src="~/Images/MS7.jpg" width="50" height="50" />
                                    break;

                                default:
                                    <img src="~/Images/blank.jpg" width="50" height="50" />
                                    break;
                            }
                        }
                    }
                    else
                    {
                        <img src="~/Images/MSUC.jpg" width="50" height="50" />
                    }
                </button>
                cntr++;
            }
        }
    }
</div>



